/* ContactList.module.css */

.list {
  padding: 0px;
}

.item {
  display: flex;
  gap: 10px;
  width: 350px;
  justify-content: space-between;
  margin-bottom: 12px;
}

.text {
  display: inline-block;
  margin: 5px;
  min-width: 230px;
}

.button {
  justify-content: flex-end;
  background-color: #dc143c40;
  border: 3px solid #2f4f4f;
  border-radius: 10px;
  padding: 0px 30px;
}

.button:hover,
.button:focus {
  background-color: #dc143c8c;
  box-shadow: 0 5px 10px -1px #33333340;
}
